<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
        <div class="header-fields">
            <h1 class="charname">
                <input name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
                
                <input class="charclass" name="class" type="text" value="{{actor.class}}" placeholder="Class" />
            </h1>
            <div class="resource">
                <span class="resourceName">Hit Points&nbsp;&nbsp;</span>
                <input type="text" name="data.health.value" value="{{data.health.value}}" data-dtype="Number"/>
                <span> / </span>
                <input type="text" name="data.health.max" value="{{data.health.max}}" data-dtype="Number"/>
            </div>
            <div class="resource">
                <span class="resourceName">Magic Points&nbsp;&nbsp;</span>
                <input type="text" name="data.magic.value" value="{{data.magic.value}}" data-dtype="Number"/>
                <span> / </span>
                <input type="text" name="data.magic.max" value="{{data.magic.max}}" data-dtype="Number"/>
            </div>
            <div class="resource row2">
                <span class="resourceName">Gold&nbsp;&nbsp;</span>
                <input type="text" name="data.gold.value" value="{{data.gold.value}}" data-dtype="Number"/>
            </div>
            <div class="resource row2">
                <span class="resourceName">Level&nbsp;&nbsp;</span>
                <input type="text" name="data.level.value" value="{{data.level.value}}" data-dtype="Number"/>
            </div>
            <div class="resource row2">
                <span class="resourceName">Armor Class&nbsp;&nbsp;</span>
                <input type="text" name="data.armorclass.value" value="{{data.armorclass.value}}" data-dtype="Number"/>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="weapons">Weapons</a>
        <a class="item" data-tab="armors">Armor</a>
        <a class="item" data-tab="spells">Spells</a>
        <a class="item" data-tab="items">Items</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Weapons Tab --}}
        <div class="tab items" data-group="primary" data-tab="weapons">
            <ol class="item-list">
            {{#each data.weapons as |item id|}}
                <li class="item flexrow" data-item-id="{{item._id}}">
                    <img src="{{item.img}}" class="item-image" title="{{item.name}}" width="24" height="24"/>
                    <h4 class="item-name">{{item.name}}</h4>
                    <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
            {{/each}}
            </ol>
        </div>

        {{!-- Armor Tab --}}
        <div class="tab items" data-group="primary" data-tab="armors">
            <ol class="item-list">
            {{#each data.armors as |item id|}}
                <li class="item flexrow" data-item-id="{{item._id}}">
                    <img src="{{item.img}}" class="item-image" title="{{item.name}}" width="24" height="24"/>
                    <h4 class="item-name">{{item.name}}</h4>
                    <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
            {{/each}}
            </ol>
        </div>

        {{!-- Spells Tab --}}
        <div class="tab items" data-group="primary" data-tab="spells">
            <ol class="item-list">
            {{#each data.spells as |item id|}}
                <li class="item flexrow" data-item-id="{{item._id}}">
                    <img src="{{item.img}}" class="item-image" title="{{item.name}}" width="24" height="24"/>
                    <h4 class="item-name">{{item.name}}</h4>
                    <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
            {{/each}}
            </ol>
        </div>

        {{!-- Items Tab --}}
        <div class="tab items" data-group="primary" data-tab="items">
            <ol class="item-list">
            {{#each data.items as |item id|}}
                <li class="item flexrow" data-item-id="{{item._id}}">
                    <img src="{{item.img}}" class="item-image" title="{{item.name}}" width="24" height="24"/>
                    <h4 class="item-name">{{item.name}}</h4>
                    <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
            {{/each}}
            </ol>
        </div>

    </section>
</form>

