<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
            <div class="resource">
            	<label>Quantity</label>
                <input type="text" name="data.quantity" value="{{data.quantity}}" data-dtype="Number"/>
            </div>
            <div class="resource">
            	<label>Gold</label>
                <input type="text" name="data.gold" value="{{data.gold}}" data-dtype="Number"/>
            </div>
            <div class="resource">
            	<label>Die Roll</label>
                <input type="text" name="data.die-roll" value="{{data.die-roll}}" data-dtype="String"/>
            </div>
        </div>
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
    </section>
</form>
