<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
            <div class="resource">
            	<label>Quantity</label>
                <input type="text" name="data.quantity" value="{{data.quantity}}" data-dtype="Number"/>
            </div>
            <div class="resource">
            	<label>Magic Points</label>
                <input type="text" name="data.magic" value="{{data.magic}}" data-dtype="Number"/>
            </div>
            <div class="resource">
            	<label>Targets</label>
                <input type="text" name="data.targets" value="{{data.targets}}" data-dtype="Number"/>
            </div>
            <div class="resource">
            	<label>Damage</label>
                <input type="text" name="data.damage-dice" value="{{data.damage-dice}}" data-dtype="String"/>
            </div>
            <div class="resource">
            	<label>Damage Type</label>
                <input type="text" class="damagetype" name="data.damage-type" value="{{data.damage-type}}" data-dtype="String"/>
            </div>
        </div>
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
    </section>
</form>
